<h1 class="titulo">Tarefas</h1>

<table mat-table [dataSource]="tarefas" class="mat-elevation-z8 demo-table">
  <ng-container matColumnDef="tarefa">
    <th class="headerTarefa" mat-header-cell *matHeaderCellDef>Tarefa</th>
    <td
      class="tarefa"
      mat-cell
      *matCellDef="let tarefa"
      [tarefaConcluida]="tarefa.concluida"
      [class.success]="!tarefa.concluida"
    >
      {{ tarefa.nome }}
    </td>
  </ng-container>

  <ng-container matColumnDef="concluida">
    <th class="sla" mat-header-cell *matHeaderCellDef>Concluida</th>
    <td class="td" mat-cell *matCellDef="let tarefa">
      <input
        class="checkbox"
        type="checkbox"
        [value]="tarefa.id"
        [checked]="tarefa.concluida"
        (click)="alterarStatus(tarefa)"
      />
    </td>
  </ng-container>

  <ng-container matColumnDef="novo">
    <th class="sla" mat-header-cell *matHeaderCellDef>
      <button [routerLink]="['/tarefas/cadastrar']" mat-button class="novo">
        <mat-icon>add</mat-icon>
        Novo
      </button>
    </th>

    <td class="td" mat-cell *matCellDef="let tarefa">
      <button
        title="Editar"
        alt="Editar"
        [routerLink]="['/tarefas/editar', tarefa.id]"
        mat-button
        class="editar"
      >
        <mat-icon>edit</mat-icon>
        Editar
      </button>

      <button
        href="#"
        title="Remover"
        alt="Remover"
        (click)="remover($event, tarefa)"
        mat-button
        class="remover"
      >
        <mat-icon>delete_forever</mat-icon>
        remover
      </button>
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<p *ngIf="tarefas.length == 0">Nenhuma tarefa cadastrada.</p>
